@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    font-family: 'Lexend', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C1D21;
}

section {
    width: 100%;
    max-width: 1440px;
    border: 3px solid skyblue;
    background-color: #fff;
    display: flex;
    gap: 40px;
    margin: 10px 30px 50px 30px;
    padding: 32px;
}



/* <||| --  Перший блок  -- |||> */

.menu {
    width: 100%;
    max-width: 268px;
    /* border: 2px solid red; */
    border-radius: 30px;
    background: #1C1D21;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.logo__link {
    /* border: 2px solid rgb(34, 76, 139); */
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 39px 32px;
}

.logo__text {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.logo__link:hover>.logo__text {
    opacity: 0.8;
}

.logo__link:active>.logo__text {
    opacity: 1;
}

.main__menu {
    /* border: 3px solid forestgreen; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__menu>p {
    margin-left: 33px;
    font-size: 14px;
    line-height: 22px;
}

.list__block {
    /* border: 2px solid fuchsia; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0px 14px 14px;
    cursor: pointer;
    display: flex;
    position: relative;
}

li:hover {
    background-color: #0066FE;
    border-radius: 10px;
    transform: scale(0.98);
    transition: 0.1s;
}

li:active {
    transform: scale(1);
}

.arrow_right {
    border-radius: 5px;
    height: 26px;
    position: absolute;
    top: 8px;
    right: 20px;
}

li:hover>.arrow_right {
    border: 2px solid #F5F6F8;
}

li::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list__item1::before {
    background-image: url("./img/icons/sidebar/category.svg");
}

.list__item2::before {
    background-image: url("./img/icons/sidebar/chart.svg");
}

.list__item3::before {
    background-image: url("./img/icons/sidebar/send.svg");
}

.list__item4::before {
    background-image: url("./img/icons/sidebar/plus.svg");
}

.list__item5::before {
    background-image: url("./img/icons/sidebar/upload.svg");
}

.list__item6::before {
    background-image: url("./img/icons/sidebar/wallet.svg");
}

.list__item7::before {
    background-image: url("./img/icons/sidebar/paper.svg");
}

.list__setting {
    margin-bottom: 54px;
}

.setting__item1::before {
    background-image: url("./img/icons/sidebar/profile.svg");
}

.setting__item2::before {
    background-image: url("./img/icons/sidebar/setting.svg");
}




/* <||| --  Другий блок  -- |||> */


.main {
    width: 100%;
    max-width: 600px;
}

.main__user {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 28px 0 85px 0;
}

.block__user {
    width: 100%;
    min-width: 150px;
}

.block__user>p:nth-child(1) {
    font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
    font-weight: 600;
    line-height: 26px;
    color: #1C1D21;
    margin: 0;
}

.block__user>p:nth-child(2) {
    font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
    font-weight: 400;
    line-height: 26px;
    color: #1C1D21;
    opacity: 0.4;
    margin: 0;
}

.search__input {
    align-self: center;
    position: relative;
}

.search__transactions {
    max-width: 275px;
    border: none;
    background: #F3F5F9;
    font-size: 16px;
    opacity: 0.6;
    border-radius: 10px;
    padding: 12px 94px 12px 16px;
}

.search__input::before {
    content: url(./img/icons/other/search.svg);
    position: absolute;
    top: 11px;
    right: 22px;
    height: 15px;
    width: 15px;
}

.search__transactions:focus {
    outline: none;
}

.search__transactions::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #1C1D21;
    opacity: 0.5;
}

.main__balance {}

.main__balance>h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin: 0 0 14px 0;
}

.balance__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #1B224A;
    opacity: 0.4;
}

.balance__arr {
    padding: 0 0 1px 9px;
    cursor: pointer;
}

.balance__wallet {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    color: #1B224A;
    margin: 16px 0 8px 0;
}

.balance__wallet>span {
    color: #0066FE;
}

.wallet__id {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #1B224A;
    opacity: 0.4;
    margin-bottom: 25px;
}

.btn__deposit {
    background: #1C1D21;
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
    margin-right: 12px;
}

.btn__deposit:active {
    outline: 1px solid #ffffff;
    transform: scale(0.99);
}

.btn__withdraw {
    background: #F3F5F9;
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #1C1D21;
    opacity: 0.7;
    cursor: pointer;
}

.btn__withdraw:active {
    outline: 1px solid #cdcdce;
    transform: scale(0.99);
}

.transactions__wrapper {
    width: 100%;
    max-width: 600px;
    height: 380px;
    margin-top: 60px;
}

.transactions__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.transactions__text>p:first-child {
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
}

.transactions__text>p:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.transactions__text>p:last-child>img {
    padding: 0 0 1px 9px;
    cursor: pointer;
}


.table {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.table__head>p {
    margin: 0;
}

.item__table>p {
    margin: 0;
}

.table__head {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr;
    color: #687D8C;
    opacity: 0.6;
    margin-bottom: 24px;
}

.item__table {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr;
}

.table__span-text {
    display: flex;
    flex-direction: column;
}

.table__span-text>span:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.table__span-text>span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.4;
}

.table__text-color {
    color: #34C759;
}

.item__table:last-child>p:last-child {
    color: #FF6B6B;
}



/* <||| --  Третій блок  -- |||> */



.wallet__info {
    width: 100%;
    max-width: 390px;

}

.wallet__card {
    min-width: 390px;
    height: 247px;
    background-image: url(./img/card.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.quick__transfer {}

.quick__text {
    display: flex;
    justify-content: space-between;
    /* font-size: 24px; */
    font-weight: 600;
    line-height: 31px;
}

.quick__id {
    background-color: #F3F5F9;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.5;
    margin: 28px 0 16px 0;
    padding: 20px;
}

.summ_wrapper {
    margin: 28px 0 16px 0;
}

.summ_wrapper>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
}

.summ__transactions {
    width: 220px;
    background-color: #F9FAFC;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px;
    margin: 0;
}

.choice-currency {
    max-width: 150px;
    height: 72px;
    background-color: #F9FAFC;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 16px 10px 16px;
}

.choice-currency>img {
    align-self: flex-start;
    padding-top: 10px;
    cursor: pointer;
}

.currency__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.6;
    margin: 0;
}

.currency__click {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    opacity: 1;
}

.btn__transfer {
    margin: 32px 0 51px 0;
}

.btn__submit {
    background: #1C1D21;
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
    margin-right: 12px;
}

.btn__submit:active {
    outline: 1px solid #ffffff;
    transform: scale(0.99);
}

.btn__save {
    background: #F3F5F9;
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #1C1D21;
    opacity: 0.7;
    cursor: pointer;
}

.btn__save:active {
    outline: 1px solid #cdcdce;
    transform: scale(0.99);
}





.transfers__history {}

.transfers__history>h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
    margin-bottom: 4px;
}

.transfers__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.transfers__text> :nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.4;
    margin: 0;
}

.transfers__text p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.transfers__text p:nth-child(2)>img {
    padding: 0 0 1px 5px;
    cursor: pointer;
}

.transfers__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transfers__info-history {}

.transfers__id {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}

.transfers__data {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.3;
    margin: 0;
}

.transfers__summ-history {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}

hr {
    border: 1px solid #EFEFF5;
    margin: 16px 0;
}