@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    font-family: 'Lexend', sans-serif;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C1D21;
}

section {
    width: 100%;
    max-width: 1440px;
    border: 3px solid skyblue;
    background-color: #fff;
    display: flex;
    gap: 40px;
    margin: 50px 30px 50px 30px;
    padding: 32px;
}



/* <||| --  Перший блок  -- |||> */

.menu {
    width: 100%;
    max-width: 268px;
    /* border: 2px solid red; */
    border-radius: 30px;
    background: #1C1D21;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.logo__link {
    /* border: 2px solid rgb(34, 76, 139); */
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 39px 32px;
}

.logo__text {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.logo__link:hover > .logo__text {
    opacity: 0.8;
}
.logo__link:active>.logo__text {
    opacity: 1;
}

.main__menu {
    /* border: 3px solid forestgreen; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__menu > p {
    margin-left: 33px;
    font-size: 14px;
    line-height: 22px;
}

.list__block {
    /* border: 2px solid fuchsia; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0px 14px 14px;
    cursor: pointer;
    display: flex;
    position: relative;
}
li:hover {
    background-color: #0066FE;
    border-radius: 10px;
    transform: scale(0.98);
    transition: 0.1s;
}
li:active {
    transform: scale(1);
}

.arrow_right {
    border-radius: 5px;
    height: 26px;
    position: absolute;
    top: 8px;
    right: 20px;
}

li:hover > .arrow_right {
    border: 2px solid #F5F6F8;
}

li::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list__item1::before{
    background-image: url("./img/icons/sidebar/category.svg");
}

.list__item2::before {
    background-image: url("./img/icons/sidebar/chart.svg");
}

.list__item3::before {
    background-image: url("./img/icons/sidebar/send.svg");
}

.list__item4::before {
    background-image: url("./img/icons/sidebar/plus.svg");
}

.list__item5::before {
    background-image: url("./img/icons/sidebar/upload.svg");
}

.list__item6::before {
    background-image: url("./img/icons/sidebar/wallet.svg");
}

.list__item7::before {
    background-image: url("./img/icons/sidebar/paper.svg");
}

.list__setting {
    margin-bottom: 54px;
}
.setting__item1::before {
    background-image: url("./img/icons/sidebar/profile.svg");
}

.setting__item2::before {
    background-image: url("./img/icons/sidebar/setting.svg");
}




/* <||| --  Другий блок  -- |||> */


.main {
    width: 100%;
    max-width: 600px;
    border: 2px solid red;
}

.main__user {
    /* border: 2px solid rgb(255, 166, 0); */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 28px 0 85px 0;
}

.block__user {
    /* border: 2px solid rgb(166, 255, 0); */
    width: 100%;
    min-width: 150px;
}

.block__user > p:nth-child(1) {
    font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
    font-weight: 600;
    line-height: 26px;
    color: #1C1D21;
    margin: 0;
}
.block__user> p:nth-child(2) {
    font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
    font-weight: 400;
    line-height: 26px;
    color: #1C1D21;
    opacity: 0.4;
    margin: 0;
}
   
.search__input {
    /* border: 2px solid rgb(166, 255, 0); */
    align-self: center;
    position: relative;
}

.search__transactions {
    max-width: 275px;
    border: none;
    /* border: 2px solid rgb(0, 89, 255); */
    background: #F3F5F9;
    font-size: 16px;
    opacity: 0.6;
    border-radius: 10px;
    padding: 12px 94px 12px 16px;
}

.search__input::before {
    content:url(./img/icons/other/search.svg);
    position: absolute;
    top: 11px;
    right: 22px;
    height: 15px;
    width: 15px;
}

.search__transactions:focus {
    outline: none;
}

.search__transactions::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #1C1D21;
    opacity: 0.5;
}

.main__balance {
    border: 2px solid rgb(107, 31, 31);
}

.balance__text {
    border: 2px solid rgb(139, 105, 105);
}

.balance__wallet {
    border: 2px solid rgb(51, 39, 39);
}

.wallet__id {
    border: 2px solid rgb(29, 159, 168);
}

.btn__deposit {
    border: 2px solid rgb(74, 206, 188);
}

.btn__withdraw {
    border: 2px solid rgb(0, 89, 255);
}

.transactions__wrapper {
    border: 2px solid rgb(0, 132, 255);
    width: 100%;
    max-width: 600px;
    height: 380px;
    margin-top: 60px;
}

.transactions__text {
    border: 2px solid rgb(206, 164, 164);
}

.transactions__table {
    border: 2px solid rgb(0, 204, 255);
}









/* <||| --  Третій блок  -- |||> */


.wallet__info {
    width: 100%;
    max-width: 390px;
    border: 2px solid red;
}







.wallet__info {}

.wallet__card {}

.card__name {}

.card__info {}

.card__number {}

.card__data {}

.quick__transfer {}

.quick__text {}

.quick__id {}

.summ_wrapper {}

.summ__transactions {}

.choice-currency {}

.currency__text {}

.currency__click {}

.btn__transfer {}

.btn__submit {}

.btn__save {}

.transfers__history {}

.transfers__item {}

.transfers__info-history {}

.transfers__id {}

.transfers__data {}

.transfers__summ-history {}